
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<table   class="w3-table-all w3-hoverable">
<tr>
<td ><button class="w3-btn" (click)="onSort('id')">Ticker</button></td>
<td>Quantity</td>
<td>Unit price</td>
<td><button class="w3-btn" (click)="onSort('total_value')">Total value</button></td>
<td><button class="w3-btn" (click)="onSort('market_cap')">Market CAP</button></td>
<td><button class="w3-btn" (click)="onSort('target_market_cap')">Target market CAP</button></td>
<td>Target unit price</td>
<td><button class="w3-btn" (click)="onSort('target_total_value')">Target total value</button></td>
</tr>
<tr *ngFor="let coin of coins" (click)="onSelect(coin)">
<td>{{coin.id}}</td>
<td>{{coin.quantity}}</td>
<td>{{coin.price | currency}}</td>
<td>{{coin.quantity * coin.price | currency}}</td>
<td>{{coin.marketCap | millionDollars | currency:'M$' : 'code' : '1.0-0'}}</td>
<td>{{coin.targetMarketCap |  currency:'M$':0}}</td>
<td>{{coin.price * coin.targetMarketCap *1000000 / coin.marketCap |currency}}</td>
<td>{{coin.price * coin.quantity * coin.targetMarketCap *1000000 / coin.marketCap |currency}}</td>
</tr>
</table>
  <app-coin-detail [coin]="selectedCoin"></app-coin-detail>


