
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<input type="text" ng-model="filterValue">{{filter()}}
<table   class="w3-table-all w3-hoverable">
<tr>
<td>Ticker</td>
<td>Quantity</td>
<td>Unit price</td>
<td>Total value</td>
<td>Market CAP</td>
<td>Target market CAP</td>
<td>Target unit price</td>
<td>Target total value</td>
</tr>
<tr *ngFor="let coin of coins">
<td>{{coin.id}}</td>
<td>{{coin.quantity}}</td>
<td>{{coin.price | currency}}</td>
<td>{{coin.quantity * coin.price | currency}}</td>
<td>{{coin.marketCap | millionDollars | currency:'M$' : 'code' : '1.0-0'}}</td>
<td>{{coin.targetMarketCap |  currency:'M$':0}}</td>
<td>{{coin.price * coin.targetMarketCap *1000000 / coin.marketCap |currency}}</td>
<td>{{coin.price * coin.quantity * coin.targetMarketCap *1000000 / coin.marketCap |currency}}</td>
</tr>
</table>
